* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: #eee;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

@import "todo-app.scss";
@import "todo-sections.scss";
@import "todo-list.scss";