.todo-sections {
    display: flex;
    > button {
        flex: 1;
        cursor: pointer;
        background-color: #fff;
        border: 1px solid #ccc;
        transition: background-color 0.2s ease-in-out;
        outline: none;

        &:hover {
            background-color: #eee;
        }

        &.active {
            background-color: #8cb691;
            &:hover {
                background-color: #eee;
            }
        }
    }
}