.todo-app {
    width: 500px;
    border: 1px solid #ccc;
    background-color: #fff;
    height: 60%;

    display: flex;
    flex-direction: column;

    .todo-input {
        height: 50px;
        width: 100%;
        outline: none;
    }
    
    .add-btn {
        border-style: solid 3px;
        height: 50px;
        outline: none;
        &:hover {
            cursor: pointer;
            background-color: grey;
        }
    }

    .todo-sections {
        height: 50px;
    }

    .todo-list {
        height: 100%;
    }
}