.todo-list {
    display: flex;
    flex-direction: column;
    background-color: grey;
    
    .todo-item {
        height: 30px;
        display: flex;
        border: 1px solid #eee;
        align-items: center;
        color: green;

        span {
            width: 100%;
        }
        button {
            width: 50px;
        }
    }
}